<div class="d-flex align-items-stretch min-height-100 bg-dark text-white">
  <div class="p-5" style="text-align: center; width:100%;">
    <div class=""><h1><i class="icofont icofont-ui-block"></i>&nbsp;403</h1></div>
    <div class="error-number fw-900 text-warning text-uppercase"><h1>Page Forbidden</h1></div>
    <div class=""><h3>We're sorry, you don't have access to the page you requested. <br>Please go back to the homepage.</h3></div>
    <div class="ff-headers fw-300">To view this page, you may have to sign in with a different account </div>
    <br>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button type="button" [routerLink]="['/']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Go to Dashboard</button>
      </div>
      <div class="col-sm-3">
        <button type="button" [routerLink]="['/auth/logout']" class="btn btn-info btn-md btn-block waves-effect text-center m-b-20">Sign in with a different Account</button>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
