<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>
<section class="login p-fixed d-flex text-center bg-primary">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="text-center">
              <img src="assets/images/angular.png" style="height:70px" alt="logo.png">
            </div>
            <div class="auth-box"> 
              <h3>Login</h3>
              <br/>
              <div class="row m-l-5 m-r-5 m-t-5 ">
                <input class="form-control" type="email" id="email" name="email" formControlName="identifier" placeholder="Email">
                <span class="messages text-danger" *ngIf="!myForm.get('identifier').valid && myForm.get('identifier').touched">* Enter valid email</span>
                <span class="md-line"></span>
              </div>
              <div class="row m-l-5 m-r-5 m-t-20">
                <input class="form-control" type="password" id="password" name="password"  formControlName="password" placeholder="Password">
                <span class="messages text-danger" *ngIf="!myForm.get('password').valid && myForm.get('password').touched">* Password can't be blank</span>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Forget Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">LOGIN</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>