<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Formulir Rumah Sakit'" [headerContent]="'Formulir untuk menambahkan data rumah sakit'">
      <!-- <div class="sub-title">Sub Title</div> -->
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="">
                <div class="col-sm-12"> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <label class="">Kode Rumah Sakit</label> <label class="alert-danger">*</label>
                            <input type="text" id="kode_rumah_sakit" name="kode_rumah_sakit" class="form-control" placeholder="Kode Klinik">
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Nama Rumah Sakit</label> <label class="alert-danger">*</label>
                            <input type="text" id="nama_rumah_sakit" name="nama_rumah_sakit"  class="form-control" placeholder="Nama Klinik">
                        </div>

                        <div class="form-group col-sm-4">
                          <label class="">No. Telepon</label>
                          <input type="text" id="no_telp" name="no_telp" class="form-control" placeholder="No. Telepon">
                        </div>

                        <div class="form-group col-sm-4">
                          <label class="">Tanggal Berdiri</label>
                          <input type="text" id="tanggal_berdiri" name="tanggal_berdiri"  class="form-control" placeholder="Tanggal Berdiri" (click)="d.toggle()"  dateFormat="'DD-MM-YYYY'" [minDate]="{year: 1900, month: 1, day: 1}" [(ngModel)]="modelPopup" ngbDatepicker #d="ngbDatepicker">
                        </div>

                        <div class="form-group col-sm-4">
                          <label class="">SK Berdiri</label>
                          <input type="text" id="sk_berdiri" name="sk_berdiri" class="form-control" placeholder="SK Berdiri">
                        </div>

                        <div class="form-group col-sm-4">
                          <label class="">Import Poliklinik dan Dokter</label>
                          <input type="file" id="poliklinik" name="poliklinik" class="form-control" placeholder="Import Poliklinik dan Dokter">
                        </div>

                        <div class="form-group col-sm-4">
                          <label class="">Jumlah Ruangan</label>
                          <input type="number" id="jumlah_ruangan" name="jumlah_ruangan" class="form-control" placeholder="Jumlah Ruangan">
                        </div>
                    </div>
                </div>

                <hr class="page-header-line">
                <div class="col-sm-12">   
                    <div class="form-group row">
                        <div class="form-group col-sm-4">
                            <label class="">Provinsi</label>
                            <select class="form-control" id="kode_provinsi" name="kode_provinsi">
                                <option value="">-- Provinsi --</option> 
                                <option value="BANTEN">BANTEN</option>
                                <option value="D I YOGYAKARTA">D I YOGYAKARTA</option>
                                <option value="DKI JAKARTA">DKI JAKARTA</option>
                                <option value="JAWA BARAT" selected>JAWA BARAT</option>  
                                <option value="JAWA TENGAH">JAWA TENGAH</option>  
                                <option value="JAWA TIMUR">JAWA TIMUR</option>   
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kabupaten/Kota</label>
                            <select class="form-control" id="kode_kota" name="kode_kota">
                                <option value="">-- Kabupaten/Kota --</option> 
                                <option value="KAB. BANDUNG">KAB. BANDUNG</option>
                                <option value="KAB. BEKASI">KAB. BEKASI</option>
                                <option value="KAB. BOGOR" selected>KAB. BOGOR</option>
                                <option value="KOTA BANDUNG">KOTA BANDUNG</option>
                                <option value="KOTA BEKASI">KOTA BEKASI</option>
                                <option value="KOTA BOGOR">KOTA BOGOR</option>  
                                <option value="KOTA DEPOK">KOTA DEPOK</option>    
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kecamatan</label>
                            <select class="form-control" id="kode_kecamatan" name="kode_kecamatan">
                                <option value="">-- Kecamatan --</option> 
                                <option value="CIGUDEG">CIGUDEG</option>
                                <option value="CIJERUK">CIJERUK</option>
                                <option value="CILEUNGSI" selected>CILEUNGSI</option>
                                <option value="CIOMAS">CIOMAS</option>
                                <option value="CISARUA">CISARUA</option>
                                <option value="CISEENG">CISEENG</option>  
                                <option value="CITEUREUP">CITEUREUP</option>    
                            </select>    
                        </div>

                        <div class="form-group col-sm-4">
                            <label class="">Kelurahan</label>
                            <select class="form-control" id="kode_kelurahan" name="kode_kelurahan">
                                <option value="DAYEUH">DAYEUH</option>
                                <option value="MAMPIR">MAMPIR</option>
                                <option value="SETU SARI">SETU SARI</option>
                                <option value="CIPEUCANG">CIPEUCANG</option>
                                <option value="JATISARI">JATISARI</option>
                                <option value="GANDOANG">GANDOANG</option>
                                <option value="MEKARSARI">MEKARSARI</option>
                                <option value="CILEUNGSI KIDUL">CILEUNGSI KIDUL</option>
                                <option value="CILEUNGSI">CILEUNGSI</option>
                                <option value="LIMUS NUNGGAL">LIMUS NUNGGAL</option>
                                <option value="PASIR ANGIN">PASIR ANGIN</option>
                                <option value="CIPENJO">CIPENJO</option>
                            </select>    
                        </div>
                      
                        <div class="form-group col-sm-4">
                            <label class="">Alamat Rumah Sakit</label> <label class="alert-danger">*</label>
                            <input type="text" id="alamat_rumah_sakit" name="alamat_rumah_sakit" class="form-control" placeholder="Alamat Klinik">
                        </div>
 
                    </div>
                </div>                
                <hr class="page-header-line">
                <div class="col-sm-12">   
                    <div class="form-group row">
                        <div class="form-group col-sm-4"></div>
                        <div class="form-group col-sm-4"></div>
                        <div class="form-group col-sm-4">
                            <button type="button" (click)="submitPerusahaan()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-save"></i> Simpan Data</button>
                        </div>
                    </div>
                </div>



            </div>
            </form>
        </div>
      </div>
    </app-card>
  </div>
</div>