<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Tambah Iuran'" [headerContent]="'Tambah iuran yang akan dibayarkan.'">
        <!-- <div class="sub-title">Sub Title</div> -->
        <div class="row">
          <div class="col-md-12">
            <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="">
                <div class="col-sm-12"> 
                  <div class="form-group row">

                      <div class="form-group col-sm-4">
                          <label class="">Kode Perusahaan</label> <label class="alert-danger">*</label>
                          <input type="text" id="kode_perusahaan" name="kode_perusahaan"  formControlName="kode_perusahaan" class="form-control" placeholder="Kode Perusahaan" [(ngModel)]="kode_perusahaan" readonly>
                      </div>

                      <div class="form-group col-sm-4">
                          <label class="">Nama Perusahaan</label> <label class="alert-danger">*</label>
                          <input type="text" id="nama_perusahaan" name="nama_perusahaan"  formControlName="nama_perusahaan" class="form-control" placeholder="Nama Perusahaan" [(ngModel)]="nama_perusahaan" readonly>
                      </div>
                      
                      <div class="form-group col-sm-4">
                      </div>

                      <div class="form-group col-sm-4">
                          <label class="">Periode</label> <label class="alert-danger">*</label>
                          <app-month-date-picker id="periode" name="periode" formControlName="periode"></app-month-date-picker>
                      </div>

                      <div class="form-group col-sm-4">
                          <label class="">Tanggal Transaksi</label> <label class="alert-danger">*</label>
                          <input type="text" id="tanggal_bayar" name="tanggal_bayar"  formControlName="tanggal_bayar" class="form-control" placeholder="Tanggal Transaksi" (click)="d.toggle()"  dateFormat="'DD-MM-YYYY'" [minDate]="{year: 1900, month: 1, day: 1}" [(ngModel)]="modelPopup" ngbDatepicker #d="ngbDatepicker">
                      </div>

                      <div class="form-group col-sm-4">
                          <label class="">Jumlah Bayar</label> <label class="alert-danger">*</label>
                          <input type="text" id="jumlah_bayar" name="jumlah_bayar"  formControlName="jumlah_bayar" class="form-control" placeholder="Jumlah Bayar"  [(ngModel)]="jumlah_bayar" readonly>
                      </div>
                  </div>
                </div>

                <hr class="page-header-line"> 
                
                <div class="col-sm-12"> 
                  <div class="form-group row">
                    <div class="col-sm-9">
                      &nbsp;
                    </div>
                    <div class="col-sm-3">
                      <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                      <button type="button" (click)="showDetail()" class="btn btn-info btn-block waves-effect text-center"><i class="icofont icofont-plus"></i> Tambahkan Anggota </button>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-12">   
                  <ngx-datatable
                    #table
                    class='data-table'
                    [columns]="columns"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="50"
                    [scrollbarH]="true"
                    [limit]="10"
                    [rows]='rowsFix'>
                    <ngx-datatable-column 
                        name="Index" 
                        [width]="10">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <strong> {{rowsFix.indexOf(row)+1}}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column 
                        name="No KTP" 
                        [width]="100">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row['no_ktp']}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column  
                        [width]="200" >
                        <ng-template ngx-datatable-header-template>
                            <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                                <span>Nama</span>
                            </div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                                {{row['nama']}}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column 
                        name="Paket Iuran" 
                        [width]="100" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row['paket']['nama_paket']}} - {{convert.formatRupiah(row['paket']['jumlah_bayar'])}}
                        </ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column 
                        name="Status Aktif Pekerja" 
                        [width]="200" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                              <span class="label label-success" *ngIf="row['status_aktif_pekerja'] === true">Aktif</span>
                              <span class="label label-default" *ngIf="row['status_aktif_pekerja'] === false">Tidak Aktif</span> 
                          </div>
                        </ng-template>
                    </ngx-datatable-column> 
                </ngx-datatable>
                </div>      

                <hr class="page-header-line">
                
                <div class="row m-t-30">
                  <div class="col-md-9"></div>
                  <div class="col-md-3">
                    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-save"></i> Save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </app-card>
    </div>
  </div>


  <app-modal-basic #dataDetail [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h4 class="modal-title">Detail Peserta</h4>
      <button type="button" class="close basic-close" (click)="dataDetail.hide()">
          <span class="alert-danger" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="app-modal-body"> 
      <div class="row">   
      <div class="col-sm-9">   
        <div class="table-card">
          <div class="row-table">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 card-block-small">
              <div class="row">
                <div class="col-sm-1">
                  <i class="icofont icofont-ui-user text-danger"></i>
                </div>
                <div class="col-sm-10 text-center">
                  <span>Total Orang</span>
                  <h5>{{numPeserta}}</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-4 card-block-small">
              <div class="row">
                <div class="col-sm-1">
                  <i class="icofont icofont-cur-dollar text-success"></i>
                </div>
                <div class="col-sm-10 text-center">
                  <span>Jumlah Bayar</span>
                  <h5>{{convert.formatRupiah(sumBayar)}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <button type="button"  (click)="confirmDetail(); dataDetail.hide();" class="btn btn-info btn-block waves-effect text-center"><i class="icofont icofont-plus"></i> Tambahkan Peserta </button>
      </div> 
      </div> 
      <div class=col-sm-12>&nbsp;</div>
      <div class="col-sm-12">   
        <ngx-datatable
          #table
          class='data-table'
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarH]="true"
          [limit]="1000"
          [rows]='data_peserta'>
          <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">

              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                  <div class="checkbox-fade fade-in-black">
                      <label>
                      <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                  </div>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="checkbox-fade fade-in-black">
                      <label>
                      <input type="checkbox" name="id[]" value="{{row['_id']}}" (change)="check($event, row)" [(ngModel)]="row.state">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                  </div> 
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Index" 
              [width]="10">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <strong> {{data_peserta.indexOf(row)+1}}</strong>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="No KTP" 
              [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['no_ktp']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  
              [width]="200" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                      <span>Nama</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                      {{row['nama']}}
                  </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Paket Premi" 
              [width]="100" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['paket']['nama_paket']}} - {{convert.formatRupiah(row['paket']['jumlah_bayar'])}}
              </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column 
              name="Status Aktif Pekerja" 
              [width]="100" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;">
                    <span class="label label-success" *ngIf="row['status_aktif_pekerja'] === true">Aktif</span>
                    <span class="label label-default" *ngIf="row['status_aktif_pekerja'] === false">Tidak Aktif</span> 
                </div>
              </ng-template>
          </ngx-datatable-column> 
        </ngx-datatable>
      </div> 
    </div>
  </app-modal-basic>