<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Daftar Pembayaran'" [headerContent]="'Daftar pembayaran kepada partner.'"> 
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-3">
          </div>
          <div class="col-sm-3"> 
              <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Periode' (keyup)='updateFilter($event)'/>
          </div> 
      </div>

      <ngx-datatable
          #table
          class='data-table'
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarH]="true"
          [limit]="10"
          [rows]='rowsFilter'>
          <ngx-datatable-column
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="checkbox-fade fade-in-black">
                      <label>
                      <input type="checkbox" value="CSS" >
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                  </div> 
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Index" 
              [width]="70" >
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <strong> {{rowsFilter.indexOf(row)+1}}</strong>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Periode" 
              [width]="100" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['periode']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Jumlah Anggota"
              [width]="150" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['jumlah_peserta']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Total Pendapatan"
              [width]="180"  >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{convert.formatRupiah(row['jumlah_bayar'])}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Klinik" 
              [width]="180" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['persentase']['klinik']}}% ({{convert.formatRupiah(row['pembayaran']['klinik'])}})
                  &nbsp;&nbsp;
                  <button *ngIf="row['id'] === '1'" type="button" class="btn btn-info btn-mini waves-effect waves-light" href="" title="Expand/Collapse Row" (click)="dataKlinik1.show();" style="padding: 0px;padding-left: 4px;padding-top: 2px;padding-bottom: 2px;">
                    <i class="icofont icofont-info-square"></i>
                  </button>
                  <button *ngIf="row['id'] === '2'" type="button" class="btn btn-info btn-mini waves-effect waves-light" href="" title="Expand/Collapse Row" (click)="dataKlinik2.show();" style="padding: 0px;padding-left: 4px;padding-top: 2px;padding-bottom: 2px;">
                    <i class="icofont icofont-info-square"></i>
                  </button>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Rumah Sakit"
              [width]="180"  >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['persentase']['rumah-sakit']}}% ({{convert.formatRupiah(row['pembayaran']['rumah-sakit'])}}) 
                  &nbsp;&nbsp;
                  <button  *ngIf="row['id'] === '1'" type="button" class="btn btn-info btn-mini waves-effect waves-light" href="" title="Expand/Collapse Row" (click)="dataRumahSakit1.show();" style="padding: 0px;padding-left: 4px;padding-top: 2px;padding-bottom: 2px;">
                    <i class="icofont icofont-info-square"></i>
                  </button>
                  <button  *ngIf="row['id'] === '2'" type="button" class="btn btn-info btn-mini waves-effect waves-light" href="" title="Expand/Collapse Row" (click)="dataRumahSakit2.show();" style="padding: 0px;padding-left: 4px;padding-top: 2px;padding-bottom: 2px;">
                    <i class="icofont icofont-info-square"></i>
                  </button>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="BJB" 
              [width]="180" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['persentase']['bjb']}}% ({{convert.formatRupiah(row['pembayaran']['bjb'])}}) 
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Kreasi"
              [width]="180"   >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['persentase']['kreasi']}}% ({{convert.formatRupiah(row['pembayaran']['kreasi'])}}) 
              </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
      
      <app-modal-basic #dataKlinik1 [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Detail Klinik</h4>
            <button type="button" class="close basic-close" (click)="dataKlinik1.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Kode Klinik</th>
                  <th>Nama Klinik</th>
                  <th>Total Biaya</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>K0002</td>
                  <td>Klinik 2</td>
                  <td>Rp. 18.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>K0003</td>
                  <td>Klinik 3</td>
                  <td>Rp. 9.000</td>
                </tr> 
                </tbody>
              </table>
            </div>
        </div>
      </app-modal-basic>

      <app-modal-basic #dataRumahSakit1 [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Detail Rumah Sakit</h4>
            <button type="button" class="close basic-close" (click)="dataRumahSakit1.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body"> 
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Kode Rumah Sakit</th>
                  <th>Nama Rumah Sakit</th>
                  <th>Total Biaya</th>
                </tr>
                </thead>
                <tbody> 
                <tr>
                  <th scope="row">1</th>
                  <td>R0002</td>
                  <td>Rumah Sakit 2</td>
                  <td>Rp. 24.000</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>R0003</td>
                  <td>Rumah Sakit 3</td>
                  <td>Rp. 12.000</td>
                </tr> 
                </tbody>
              </table>
            </div>
        </div>
      </app-modal-basic>

      <app-modal-basic #dataKlinik2 [dialogClass]="'modal-lg'">
          <div class="app-modal-header">
              <h4 class="modal-title">Detail Klinik</h4>
              <button type="button" class="close basic-close" (click)="dataKlinik2.hide()">
                  <span class="alert-danger" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="app-modal-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Kode Klinik</th>
                    <th>Nama Klinik</th>
                    <th>Total Biaya</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>K0001</td>
                    <td>Klinik 1</td>
                    <td>Rp. 9.000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>K0002</td>
                    <td>Klinik 2</td>
                    <td>Rp. 18.000</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>K0003</td>
                    <td>Klinik 3</td>
                    <td>Rp. 9.000</td>
                  </tr> 
                  </tbody>
                </table>
              </div>
          </div>
        </app-modal-basic>
  
        <app-modal-basic #dataRumahSakit2 [dialogClass]="'modal-lg'">
          <div class="app-modal-header">
              <h4 class="modal-title">Detail Rumah Sakit</h4>
              <button type="button" class="close basic-close" (click)="dataRumahSakit2.hide()">
                  <span class="alert-danger" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="app-modal-body"> 
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Kode Rumah Sakit</th>
                    <th>Nama Rumah Sakit</th>
                    <th>Total Biaya</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>R0001</td>
                    <td>Rumah Sakit 1</td>
                    <td>Rp. 12.000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>R0002</td>
                    <td>Rumah Sakit 2</td>
                    <td>Rp. 24.000</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>R0003</td>
                    <td>Rumah Sakit 3</td>
                    <td>Rp. 12.000</td>
                  </tr> 
                  </tbody>
                </table>
              </div>
          </div>
        </app-modal-basic>


    </app-card>
  </div>
</div>