<ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px', fullScreenBackdrop: true}" [template]="loadingTemplate"></ngx-loading>

<ng2-toasty [position]="position"></ng2-toasty>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Daftar Master Pembayaran'" [headerContent]="'List akun yang dapat akses ke sistem.'">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-3">
          <button [routerLink]="['/patient-funding/master-pembayaran/master-pembayaran-add']" class="btn btn-primary btn-block waves-effect text-center"><i class="icofont icofont-plus"></i> Tambah Master Pembayaran </button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-3">
          </div>
          <div class="col-sm-3"> 
              <input type='text' class="form-control input-sm col-sm-12" placeholder='Pencarian Email' (keyup)='updateFilter($event)'/>
          </div> 
      </div>

      <ngx-datatable
          #table
          class='data-table'
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [scrollbarH]="true"
          [limit]="10"
          [rows]='rowsFilter'>
          <ngx-datatable-column
              name="" 
              [width]="50"
              [resizeable]="false"
              [sortable]="false"
              [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="checkbox-fade fade-in-black">
                      <label>
                      <input type="checkbox" value="CSS" >
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      </label>
                  </div> 
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Index" 
              [width]="10">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <strong> {{rowsFilter.indexOf(row)+1}}</strong>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Nama Penerima" 
              [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['nama']}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              name="Persentase" 
              [width]="100" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row['persentase']}} %
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  
              [width]="100" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                      <span>Status Aktif</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                    <span class="label label-success" *ngIf="row['aktif_status'] === true">Aktif</span>
                    <span class="label label-default" *ngIf="row['aktif_status'] === false">Tidak Aktif</span>  
                  </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column  
              [width]="100" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left; margin-top: 10px;">
                      <span>Aktif Sejak</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-left;"> 
                    {{convert.formatDate(row['aktif_sejak'])}}
                  </div>
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column 
              [width]="180" >
              <ng-template ngx-datatable-header-template>
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;  text-align: center;margin-top: 10px;">
                      <span>Action</span>
                  </div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template >
                  <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; text-align: center;"> 
                      <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                      <button type="button" (click)="showDetail()" class="col-sm-3 btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-search"></i></button> 
                      &emsp;
                      <button type="button" id="btnShowEdit" [hidden]="true" (click)="dataEdit.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-pencil"></i> Edit</button> 
                      <button type="button" (click)="showEdit()" class="col-sm-3 btn btn-warning btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Edit"><i class="icofont icofont-pencil-alt-2"></i></button> 
                      &emsp;
                      <button type="button" (click)="showConfirmDelete($event, row._id)"class="col-sm-3 btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Hapus"><i class="icofont icofont-ui-delete"></i></button>
                  </div>
              </ng-template> 
          </ngx-datatable-column> 
      </ngx-datatable>
      
      <app-modal-basic #dataDetail [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Detail Master Pembayaran</h4>
            <button type="button" class="close basic-close" (click)="dataDetail.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body">
            <app-master-pembayaran-detail></app-master-pembayaran-detail>
        </div>
      </app-modal-basic>

      <app-modal-basic #dataEdit [dialogClass]="'modal-lg'">
        <div class="app-modal-header">
            <h4 class="modal-title">Edit Master Pembayaran</h4>
            <button type="button" class="close basic-close" (click)="dataEdit.hide()">
                <span class="alert-danger" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="app-modal-body"> 
            <app-master-pembayaran-edit></app-master-pembayaran-edit>
        </div>
        </app-modal-basic>


    </app-card>
  </div>
</div>