<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Laporan Peserta'" [headerContent]="'Anda dapat melihat daftar seluruh peserta'" [classHeader]="false" [blockClass]="'table-border-style'">
      <ngx-datatable
        #table
        class="data-table"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [reorderable]="reorderable">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="checkbox-fade fade-in-black">
              <label>
              <input type="checkbox" value="CSS" >
              <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
              </label>
          </div> 
        </ng-template>
        <ngx-datatable-column 
            name="NO" 
            [width]="40">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <strong> {{row['NO']}}</strong>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="NO KTP" 
            [width]="120">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['NO_KTP']}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="NO BPJS" 
            [width]="100" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['NO_BPJS']}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="NAMA" 
            [width]="150" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['NAMA']}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="JENIS KELAMIN" 
            [width]="70" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['JENIS_KELAMIN']}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            name="PEKERJAAN" 
            [width]="100" >
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row['PEKERJAAN']}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            [width]="200" >
            <ng-template ngx-datatable-header-template>
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center; margin-top: 10px;">
                    <span>ACTION</span>
                </div>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template >
                <div class="col-sm-12" style="margin: auto; text-align: -webkit-center;"> 
                    <button type="button" id="btnShowDetail" [hidden]="true" (click)="dataDetail.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Detail</button> 
                    <button type="button" (click)="showDetail()" class="col-sm-3 btn btn-info btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Detail"><i class="icofont icofont-search"></i></button> 
                    &emsp;
                    <button type="button" id="btnShowPrint" [hidden]="true" (click)="dataPrint.show()" class="btn btn-primary btn-md btn-block waves-effect text-center"><i class="icofont icofont-search-alt-1"></i> Print</button> 
                    <button type="button" (click)="showPrint()" class="col-sm-3 btn btn-primary btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Cetak"><i class="icofont icofont-print"></i></button> 
                    &emsp;
                    <button type="button" (click)="showConfirmDelete()"class="col-sm-3 btn btn-danger btn-sm waves-effect text-center" style="white-space:normal !important; height: 30px;" container="body" placement="top" ngbTooltip="Batal"><i class="icofont icofont-ui-delete"></i></button>
                </div>
            </ng-template> 
        </ngx-datatable-column> 
      </ngx-datatable>
    </app-card>
  </div>
</div>